@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: hsl(202, 86%, 94%);
  --color-right: hsl(202, 55%, 16%);
  --color-lime:hsl(61, 70%, 52%);
}
@layer base {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* background: hsl(202, 86%, 94%); */
    font-size: 20px;
  }
}